html, body, #game-area table {
	font-family:Verdana, Helvetica, Arial, sans;

	width:100%;
	height:100%;
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
}

.needs-localstorage { display:none; }

#game-area table {
	padding-top:2em;
	background:url('./backgrounds/ipad2-wood-retina-1.jpg') repeat 50% 50%;

	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	-webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
#game-area td {
	padding:.45em .625em;
	position:relative;
}
#game-area div {
	border:2px solid;
	border-color: white #DADADA #DADADA white;

	-webkit-box-shadow:0 .6em 1em #333;
	box-shadow:0 .6em 1em #333;
	-webkit-border-radius:1.5em;
	-moz-border-radius:1.5em;
	border-radius:1.5em;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */

	position:relative;
	margin:auto;
	width:100%;
	height:100%;
}

/* iPad [portrait + landscape] */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {
	#game-area td { padding:.25em; }
	#game-area div {
		-webkit-border-radius:.5em;
		-moz-border-radius:.5em;
		border-radius:.5em;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}
}
/* iPhone [portrait] WINDOW SIZE */
@media all and (max-width: 480px) {
	#game-area td { padding:.13em .25em; }
	#game-area div {
		-webkit-border-radius:.5em;
		-moz-border-radius:.5em;
		border-radius:.5em;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}
}
/* iPhone [landscape] WINDOW SIZE */
@media all and (max-height:480px) {
	#game-area td { padding:.13em .25em; }
	#game-area div {
		-webkit-border-radius:.5em;
		-moz-border-radius:.5em;
		border-radius:.5em;
		-webkit-box-shadow:none !important;
		box-shadow:none !important;
	}
}

#game-area .selected div {
	-webkit-box-shadow:0 0em 1.5em blue;
	box-shadow:0 0em 1.5em blue;
	border-color:blue;
}
#game-area .error div {
	-webkit-box-shadow:0 0em 1.5em red;
	box-shadow:0 0em 1.5em red;
	border-color:red;
}

#game-area .found div {
	-webkit-box-shadow:0 0em 1.5em green;
	box-shadow:0 0em 1.5em green;
	border-color:green;

	-webkit-animation-name:zoom;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:1;
}
@-webkit-keyframes zoom {
	from { -webkit-transform:scale(1); opacity:1; }
	50% { -webkit-transform:scale(1.1); opacity:.25; }
	to { -webkit-transform:scale(1); opacity:0;}
}

#game-area canvas {
	position:absolute; top:0; bottom:0; left:0; right:0;
	margin:auto;
}
@media all and (orientation:portrait) {
	#game-area canvas {
		width:100%;
		height:auto;
		-webkit-transform: rotate(-180deg);
	}
}
@media all and (orientation:landscape) {
	#game-area canvas {
		width:auto;
		height:100%;
		-webkit-transform: rotate(-90deg);
	}
}



.left { float:left; }
.right { float:right; }
.hide { display:none; }
a, a:hover, a:visited { cursor:pointer; text-decoration:none; }

.popup {
	display:none;
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
	padding-top: 45%;
}
.popup:target { display:block; }

.lightbox {
	display:none;
	background:rgba(0,0,0,.75);
	position:absolute;
	z-index:100;
	width:100%;
	height:100%;

	padding:1em;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;

	color: #555;
	text-shadow: 1px 1px 1px white;
}
.lightbox:target { display:block; }
.lightbox a { color: black; }
.lightbox a:hover { text-decoration:underline; }

.lightbox > div {
	background: #F0F0F0;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;

	border: 1px solid white;
	border-color: white #DADADA #DADADA white;
	padding: .5em 1em;
	clear:both;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	max-height:100%;
	overflow:auto;
}
.lightbox > div:after {
	content:'';
	display:block;
	clear:both;
}

.button {
	padding:4px 8px;
	line-height:24px;
	text-decoration:none;
}
.button, .button:hover, .button:visited { color:white; cursor:pointer; text-shadow:none; }
a.button:hover { text-decoration:none; }
.button span {
	background: rgb(149,149,149); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(149,149,149,1) 0%, rgba(13,13,13,1) 46%, rgba(1,1,1,1) 50%, rgba(10,10,10,1) 53%, rgba(78,78,78,1) 76%, rgba(56,56,56,1) 87%, rgba(27,27,27,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(149,149,149,1)), color-stop(46%,rgba(13,13,13,1)), color-stop(50%,rgba(1,1,1,1)), color-stop(53%,rgba(10,10,10,1)), color-stop(76%,rgba(78,78,78,1)), color-stop(87%,rgba(56,56,56,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(149,149,149,1) 0%,rgba(13,13,13,1) 46%,rgba(1,1,1,1) 50%,rgba(10,10,10,1) 53%,rgba(78,78,78,1) 76%,rgba(56,56,56,1) 87%,rgba(27,27,27,1) 100%); /* W3C */

	color:white;
	border:1px solid;
	border-color:#333 #333 #000;
	-webkit-border-radius: .625em;
	-moz-border-radius: .625em;
	border-radius: .625em;

	line-height:24px;
	padding:3px 10px;
}
.button:hover span, .button.active span {
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
}
.button.circle {
	position: absolute;
	top: 5px;
	right: 5px;
}
.button.circle span {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius: 50%;
	height: 25px;
	display: block;
}

#menu {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */

	color: #333;
	text-shadow: 1px 1px 1px white;

	border-bottom:1px solid black;
	width:100%;
	height:2em;
	position:absolute;
	top:0;
	z-index:10;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
#menu .button, #menu p {
	display:block;
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
	line-height:24px;

	padding:4px 8px;
	margin:0;

	position:relative;
	z-index:10;
}

#menu .center {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:-5;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}


.dropdown .button span:after {
	content:'\25ba';
	border-left:1px solid #999;
	margin-left:8px;
	padding-left:8px;
}
.dropdown .button.open span:after {
	content:'\25bc';
}

.dropdown div:target { display:block; }
.dropdown div {
	display:none;
	position:absolute;
	top:0;
	left:0;

	background: #F0F0F0;

	-webkit-border-bottom-right-radius: .5em;
	-moz-border-radius-bottomright: .5em;
	border-bottom-right-radius: .5em;


	border:1px solid black;
	border-top:none;
	border-left:none;
}
.dropdown ul {
	font-size:16px;

	list-style:none;

	padding:.5em 4px .25em;
	margin:0;
	margin-top:-1px;

	min-width:102px;


	top:0;
	z-index:10;
}
.dropdown ul a {
	font-size:14px;
	display:block;
	text-shadow: 1px 1px 1px black;
	padding:.5em 4px;
	-webkit-border-radius:.5em;
	-moz-border-radius:.5em;
	border-radius:.5em;
}
.dropdown ul a:hover {
	background: rgb(76,76,76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,1)), color-stop(12%,rgba(89,89,89,1)), color-stop(25%,rgba(102,102,102,1)), color-stop(39%,rgba(71,71,71,1)), color-stop(50%,rgba(44,44,44,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%); /* W3C */
}
.dropdown li a {
	color: #333;
	text-shadow: 1px 1px 1px white;
}
.dropdown li:hover a {
	color:white;
	text-shadow:none;
}
