{{#if gameResult}}
	<div class="popup">
		<div>
			<h3>Game Over!</h3>
			<p>{{end-game:message gameResult}}</p>
			<a href="#" class="button game-reset"><span>Play Again</span></a>
		</div>
	</div>
{{/if}}
