{{#if scoreType}}
	<a href="#">Deck: {{found}}/{{deckSize}}</a>
{{/if}}

{{#if remainingType}}
	<a href="#">{{remaining}} cards remaining</a>
{{/if}}

{{#if percentType}}
	<a href="#">Sets Found: {{percent}}%</a>
{{/if}}

{{#if timeType}}
	<a href="#">Time: <span class="time">0:00.000</span></a>
{{/if}}
