<div class="popup hide" id="game-over-win">
	<div>
		<h3>Game Over!</h3>
		<p>You won!</p>
		<a href="#" class="button game-reset"><span>Play Again</span></a>
	</div>
</div>
<div class="popup hide" id="game-over-lose">
	<div>
		<h3>Game Over!</h3>
		<p>No more sets are possible.</p>
		<a href="#" class="button game-reset"><span>Play Again</span></a>
	</div>
</div>
